# VSCode settings folder
.vscode/
.vscode/*

# Virtual environment
venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variable files
.env

# Build artifacts
build/
dist/
*.egg-info/

# Django migrations
*/migrations/*

# IDE and editor specific files
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Windows
Thumbs.db
